@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

/* ## Layout

- Mobile: 375px
- Desktop: 1440px */

/* # Colors

### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very vark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  height: 100vh;
  font-size: 16px;
}

h1 {
  font-size: 120px;
}

/* NAVBAR */
.main-navbar .container-fluid {
  width: 100%;
  margin: 0;
  flex-wrap: nowrap;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: -9px;
  margin-left: 4rem;
  margin-right: 4rem;
  /* max-width: 1110px; */
}
.nav-brand {
  display: flex;
  align-self: center;
}
a.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: hsl(219, 9%, 45%) !important;
  margin-left: 15px;
  margin-right: 15px;
  padding: 30px;
  margin-bottom: 0;
}
.nav-link:hover,
.nav-link.active {
  box-shadow: inset 0 -3px 0 0 hsl(26, 100%, 55%);
  color: black !important;
}
.nav-icons {
  cursor: pointer;
}
.nav-icons .nav-cart:hover {
  filter: invert(1) brightness(0);
}
.nav-icons .nav-avatar {
  margin-left: 50px;
  height: 50px;
  width: 50px;
}
.line {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  /* max-width: 1100px; */
  width: 90%;
  align-self: center;
  margin-left: 4.7rem;
}

/* PRODUCT ITEM */
.product-item {
  margin-top: 6rem;
  margin-right: 2rem;
  margin-left: 4rem;
}
.product-item img {
  border-radius: 15px;
}
.product-item .main-pic img {
  height: 445px;
}
.product-item .thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 445px;
}
.product-item .thumbnails .thumb-container {
  border-radius: 15px;
  border: none;
  height: 88px;
  width: 88px;
  overflow: hidden;
  margin-top: 35px;
}
.product-item .thumbnails .thumb-container img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.product-item .thumbnails img:hover {
  opacity: 50%;
}
.product-item .thumbnails .thumb-container .selected {
  border: 2px solid hsl(26, 100%, 55%);
  height: 88px;
  width: 88px;
  overflow: hidden;
}

/* PRODUCT DESCRIPTION */
.product-description {
  max-width: 460px;
}
.product-description p.orange-text {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9rem;
}
.product-description h1 {
  margin-bottom: 35px;
  width: 500px;
}
p {
  color: hsl(219, 9%, 45%);
  /* line-height: 1.8; */
}

/* PRODUCT PRICE */
.product-price .current-price {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-price .current-price .price {
  font-size: 30px;
}
.product-price .current-price .discount {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  font-size: 15px;
  height: 27px;
  width: 51px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.product-price .prev-price {
  font-size: 15px;
  color: hsl(219, 9%, 75%);
  text-decoration: line-through;
}

/* BUTTONS */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}
/* BUTTON */
.button-container {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}
.button-container .btn {
  background-color: hsl(223, 64%, 98%);
  border-color: hsl(223, 64%, 98%);
  height: 56px;
  width: 52px;
}
.button-container .btn:hover,
.button-container .btn.btn-minus.active {
  background-color: hsl(223, 64%, 98%);
  border-color: hsl(223, 64%, 98%);
}
.button-container .btn-minus {
  border-radius: 20% 0 0 20%;
}
.button-container .btn.btn-plus {
  border-radius: 0 20% 20% 0;
}
.button-container .btn .btn-img:hover {
  opacity: 50%;
}

.button-container .counter {
  background-color: hsl(223, 64%, 98%);
  height: 56px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LARGE_BUTTON */
.large-btn .btn.orange-btn {
  background-color: hsl(26, 100%, 55%);
  border: hsl(26, 100%, 55%);
  height: 56px;
  width: 272px;
  border-radius: 10px;
}
.large-btn .btn.orange-btn:hover {
  opacity: 50%;
}
.large-btn .btn.orange-btn img {
  color: white;
  /* filter: invert(1) brightness(1); */
}
.large-btn .btn.orange-btn span {
  color: white;
  margin-left: 15px;
}

/* WOMEN PAGE*/
.women {
  display: flex;
  justify-content: space-evenly;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 4rem;
  margin-left: 2rem;
  margin-top: 4rem;
}

/* Mobile */
@media (max-width: 768px) {
  /* NAVBAR */
  .main-navbar {
  }
  .navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2rem;
    position: absolute;
    inset: 0 45 0 0;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .nav-toggler {
    filter: invert(75%) brightness(1);
    position: absolute;
    top: 7px;
    left: -3rem;
    z-index: 2;
    height: 15px;
    width: 16px;
    margin-left: 2rem;
  }

  .nav-toggler button,
  .nav-toggler,
  .nav-toggler button:hover {
    box-shadow: none !important;
  }
  .nav-brand {
    padding-left: 1rem;
    height: 28px;
  }
  .nav-collapse .nav {
    position: absolute;
    width: 67%;
    padding-top: 90px;
    padding-left: 0.7rem;
    background-color: white;
    inset: 0 35% 0 0;
    position: fixed;
  }
  a.nav-link {
    color: black !important;
    text-align: left;
    padding-top: 10px;
  }
  .nav-link:hover,
  .nav-link.active {
    box-shadow: none;
    color: black;
  }
  .nav-icons {
    display: flex;
    flex-direction: row;
  }
  .nav-icons .nav-cart {
    height: 22px;
  }
  .nav-icons .nav-avatar {
    margin-left: 20px;
    height: 24px;
    width: 24px;
  }
  .line {
    display: none;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 991px) {
  /* NAVBAR */
  .navbar,
  .nav-collapse .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2rem;
  }
  .nav-collapse .nav {
    margin-left: 1rem;
  }
  .nav-item a {
    margin-left: 8px;
    margin-right: 8px;
  }
  .nav-icons {
    display: flex;
    flex-wrap: nowrap;
  }
  .nav-icons .nav-cart {
    height: 22px;
    align-self: center;
  }
  .nav-icons .nav-avatar {
    margin-left: 15px;
  }
  .line {
    max-width: 870px;
    width: 90%;
    overflow: hidden;
    margin-left: 2.4rem;
    align-self: center;
    justify-self: auto;
  }

  /* PRODUCT ITEM */
  .product-item .main-pic img {
    height: 380px;
    width: 380px;
    margin-right: -1rem;
  }
  .product-item .thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
  }
  .product-item .thumbnails .thumb-container {
    height: 70px;
    width: 70px;
    overflow: hidden;
  }
  .product-item .thumbnails .thumb-container img {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .product-item .thumbnails img:hover {
    opacity: 50%;
  }

  /* PRODUCT DESCRIPTION */
  .product-description {
    max-width: 300px;
  }
  .product-description h1 {
    font-weight: 400;
    margin-bottom: 25px;
    width: 150px;
  }

  /* BUTTONS */
  .buttons {
    display: block;
  }

  /* LARGE_BUTTON */
  .large-btn .btn.orange-btn {
    margin-top: 10px;
  }

  /* WOMEN */
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 300px;
    margin-left: -1rem;
    margin-top: 7rem;
    margin-left: -1rem;
    margin-top: 7rem;
  }
}
