@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

/* ## Layout

- Mobile: 375px
- Desktop: 1440px */

/* # Colors

### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very vark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  height: 100vh;
  font-size: 16px;
}

.container-fluid {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.bar {
  display: flex;
  align-self: center;
  vertical-align: middle;
}

.logo {
  display: flex;
  align-self: center;
}
.nav-item a {
  color: hsl(219, 9%, 45%);
  margin-left: 30px;
}
.nav-item a:hover {
  color: black;
}
.nav-icons {
  cursor: pointer;
}
.nav-icons .nav-cart:hover {
  filter: invert(1) brightness(0);
}
.nav-icons .nav-avatar {
  margin-left: 50px;
  height: 50px;
  width: 50px;
}
.line {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  max-width: 1110px;
  width: 99%;
  margin-left: 11px;
}

/* Mobile */
@media (max-width: 600px) {
  .bar {
    border-bottom: none;
  }
}
